body{
    background: whitesmoke;
    color: #cc7536;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: whitesmoke;
    background-image: url("pics/img1.jpg");
    background-size: 100%;
    background-position: center;
    height: 400px;
    padding: 20px;
    text-align: center;
}
li:hover{
    font-size: large;
}
a{
    text-decoration: none;
    color: white;
    

}
a:hover{
    font-size: 15px;
    text-decoration:underline;
}
.logo{
    background-image:url("RALA.png");
    background-repeat: no-repeat;
    position: relative;
    height: 95px;
    background-size: 150px;
    width: 150px;
    text-indent: -9999999px;
    
    
}
/* section{
    background-color: beige;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
footer{
    background-color: black;
    padding: 20px; 
} */
/* div{
    background-color: red;
    margin: auto;
    width: 100px;
} */
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-right: 20px;
    /* background-color: gray;
    border-radius: 3px; */
    padding: 2px;
}
/*.feature-box{
    display: flex;
}
.feature-box div{
    width: 100%;
    margin: 2px;
}
.feature-box.sales div{
    background-color: gray;
}
.feature-box.closeouts div{
    background-color: peru;
} */